<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title><Footer></Footer></title>
</head>
<body>
    <div class="font-awesome">
        <p>All Copyrights are researved to @JavedIqbal, <%= new Date().getFullYear() %></p>
    </div>
</body>
</html>