<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <link rel="stylesheet" href="/styles/main.css" />
    
</head>
<body>
    <div id="mainnav" class="mainnavbar">
        <div class="container">
          <div class="logo-wrapper">
            <a
              class="logo"
              href="index.php"
              title="University of Health Sciences"
            >
              <img
                class="logo"
                src="logo-3-2-1-9.png"
                alt="University of Health Sciences"
              />
            </a>
          </div>
          <div class="nav2" id="nav2">
            <div class="na">
              <ul id="menu-primary" class="dropdowns">
                <li id="" class="dropdown">
                  <a
                    title="The University"
                    href="#"
                    data-toggle="dropdown"
                    class="dropdown-toggle"
                    aria-haspopup="true"
                  >
                    The University <span class="caret"></span>
                  </a>
                  <ul role="menu" class="dropdown-content">
                    <li id="menu-item-12448" class="">
                      <a title="Overview" href="About-us.php">Overview</a>
                    </li>
                    <li id="menu-item-11434" class="">
                      <a title="Governing Bodies" href="uhsbog.php">
                        Governing Bodies
                      </a>
                    </li>
                    <li id="menu-item-11454" class="">
                      <a title="Administration" href="uhs-admin.php">
                        Administration
                      </a>
                    </li>
                    <li id="menu-item-11336" class="">
                      <a title="Organogram" href="organogram.php">
                        Organogram
                      </a>
                    </li>
                    <li id="menu-item-12458" class="-12458">
                      <a title="Future Plans" href="qec/index.html">QEC</a>
                    </li>
                    <li id="menu-item-11270" class="-11270">
                      <a title="Affiliation" href="affiliation-process.php"
                        >Affiliation</a
                      >
                    </li>
                    <li id="menu-item-11267" class="-11267">
                      <a title="International Collaboration" href="intlink.php"
                        >International Collaboration</a
                      >
                    </li>
                    <li id="menu-item-11444" class="-11444">
                      <a title="Projects" href="planning.php">Projects</a>
                    </li>
                    <li id="menu-item-11457" class=" -11457      "><a title="Achievements / Milestones" href="#">Achievements / Milestones</a></li>-->
                    <!--<li id="menu-item-12457" class="-12457">
                      <a title="Budget" href="UHS-Budget.php">Budget</a>
                    </li>
                  </ul>
                </li>

                <li id="menu-item-11280" class="dropdown">
                  <a
                    title="Academics"
                    href="#"
                    data-toggle="dropdown"
                    class="dropdown-toggle"
                    aria-haspopup="true"
                  >
                    Academics <span class="caret"></span>
                  </a>
                  <ul role="menu" class="dropdown-content">
                    <li id="menu-item-11334" class="-11334">
                      <a title="Departments" href="http://lms.uhs.edu.pk/"
                        >E Learning Portal</a
                      >
                    </li>
                    <li id="menu-item-11334" class="-11334">
                      <a title="Departments" href="clinicalpg.php"
                        >Clinical Postgraduate Programs</a
                      >
                    </li>
                    <li id="menu-item-11334" class="-11334">
                      <a title="Departments" href="Departments-uhs.php"
                        >Departments</a
                      >
                    </li>
                    <li id="menu-item-11350" class="-11350">
                      <a
                        title="UHS Fulltime Faculty"
                        href="uhs-fulltime-faculty.php"
                        >UHS Full Time Faculty</a
                      >
                    </li>
                    <li
                      id="menu-item-11276"
                      class="bp-menu bp-settings-nav -11276"
                    >
                      <a title="Academic Calendar" href="Academic-Calendar.php"
                        >Academic Calendar</a
                      >
                    </li>
                  </ul>
                </li>
                <li id="menu-item-11482" class="dropdown">
                  <a
                    title="Research"
                    href="#"
                    data-toggle="dropdown"
                    class="dropdown-toggle"
                    aria-haspopup="true"
                    >Research <span class="caret"></span
                  ></a>
                  <ul role="menu" class="dropdown-content">
                    <li id="menu-item-11484" class="-11484">
                      <a title="Public Defence" href="oric.php">ORIC</a>
                    </li>
                    <li id="menu-item-11484" class="-11484">
                      <a title="Public Defence" href="pdphd.php"
                        >Public Defence</a
                      >
                    </li>

                    <li id="menu-item-11484" class="-11484">
                      <a title="Public Defence" href="proformas.php"
                        >Synopsis / Thesis Proformas</a
                      >
                    </li>
                    <li id="menu-item-11485" class="-11485">
                      <a
                        title="Research Repository"
                        href="Research-Repository.php"
                        >Research Repository</a
                      >
                    </li>
                    <li id="menu-item-11486" class="-11486">
                      <a
                        title="Research Publications"
                        href="Departments-uhs.php"
                        >Research Publications</a
                      >
                    </li>
                    <li id="menu-item-11486" class="-11486">
                      <a title="Biomedica" href="http://biomedicapk.com"
                        >Biomedica</a
                      >
                    </li>
                  </ul>
                </li>
                <li id="menu-item-12445" class="dropdown">
                  <a
                    title="Admissions"
                    href="#"
                    data-toggle="dropdown"
                    class="dropdown-toggle"
                    aria-haspopup="true"
                    >Admissions <span class="caret"></span
                  ></a>
                  <ul role="menu" class="dropdown-content">
                    <li id="menu-item-12483" class="-12483">
                      <a title="Undergraduate Programs" href="Undergraduate.php"
                        >Undergraduate Programs</a
                      >
                    </li>
                    <li id="menu-item-12483" class="-12483">
                      <a title="Postgraduate Programs" href="Postgraduate.php"
                        >Postgraduate Programs</a
                      >
                    </li>
                    <li id="menu-item-12483" class="-12483">
                      <a title="Certifications" href="certification.php"
                        >Certifications</a
                      >
                    </li>
                    <li id="menu-item-12484" class="-12484">
                      <a title="Fee Structure" href="fee-struct.php"
                        >Fee Structure</a
                      >
                    </li>
                    <li id="menu-item-12491" class="-12491">
                      <a title="Admission Notice" href="Admissions.php"
                        >Admission Notice</a
                      >
                    </li>
                    <li id="menu-item-12492" class="-12492">
                      <a title="Merit Lists" href="MeritList.php"
                        >Merit Lists</a
                      >
                    </li>
                    <li id="menu-item-12493" class="-12493">
                      <a title="Entry Tests" href="https://results.uhs.edu.pk"
                        >Entry Tests</a
                      >
                    </li>
                    <li id="menu-item-12493" class="-12493">
                      <a title="Entry Tests" href="https://exams.uhs.edu.pk"
                        >Examination Form</a
                      >
                    </li>
                    <li id="menu-item-12493" class="-12493">
                      <a
                        title="Entry Tests"
                        href="https://exams.uhs.edu.pk/admitanceCard.aspx"
                        >Online Admittance Card</a
                      >
                    </li>
                    <li id="menu-item-12493" class="-12493">
                      <a title="Entry Tests" href="https://regstatus.uhs.edu.pk"
                        >Registration Status</a
                      >
                    </li>
                  </ul>
                </li>
                <li id="menu-item-12494" class="dropdown">
                  <a
                    title="Life at UHS"
                    data-toggle="dropdown"
                    class="dropdown-toggle"
                    aria-haspopup="true"
                    >Life at UHS <span class="caret"></span
                  ></a>
                  <ul role="menu" class="dropdown-content">
                    <li id="menu-item-12498" class="-12498">
                      <a title="Events" href="news.php">Latest News</a>
                    </li>
                    <li id="menu-item-12498" class="-12498">
                      <a title="Events" href="events.php">Events</a>
                    </li>
                    <li id="menu-item-12498" class="-12498">
                      <a title="Events" href="convocation.php">Convocation</a>
                    </li>
                    <li id="menu-item-12499" class="-12499">
                      <a title="Clubs/ Societies" href="society.php"
                        >Student Socities<span class="blink"
                          >Membership open</span
                        ></a
                      >
                    </li>
                    <li id="menu-item-12499" class="-12499">
                      <a title="Clubs/ Societies" href="hostel.php"
                        >Boys Hostel</a
                      >
                    </li>
                    <li id="menu-item-12499" class="-12499">
                      <a title="Clubs/ Societies" href="hostel1.php"
                        >Girls Hostel</a
                      >
                    </li>
                    <li id="menu-item" class="">
                      <a title="Administration Facilities" href="admin.php"
                        >Administration Facilities</a
                      >
                    </li>
                    <li id="menu-item" class="">
                      <a title="Gallery" href="gallery.php">Gallery</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-12506" class="dropdown">
                  <a
                    title="Quick Links"
                    data-toggle="dropdown"
                    class="dropdown-toggle"
                    aria-haspopup="true"
                    >Quick Links <span class="caret"></span
                  ></a>
                  <ul role="menu" class="dropdown-content">
                    <li id="menu-item" class="">
                      <a title="Faculty" href="https://fms.uhs.edu.pk/"
                        >Miscellaneous Challan</a
                      >
                    </li>

                    <li id="menu-item" class=" ">
                      <a title="Faculty" href="QECproforma.php">QEC Proforma</a>
                    </li>

                    <li id="menu-item" class="-12508">
                      <a title="Faculty" href="downloads/defaultedscholars.pdf"
                        >UHS Defaulted Scholars</a
                      >
                    </li>
                    <li id="menu-item" class="">
                      <a title="Staff" href="uhs-admin.php">Staff</a>
                    </li>

                    <li id="menu-item">
                      <a title="Tenders" href="tenders2023.php">Tenders</a>
                    </li>

                    <li id="menu-item" class="">
                      <a title="Tenders" href="jobs.php">Careers</a>
                    </li>
                    <li id="menu-" class="">
                      <a title="Tenders" href="https://dip.uhs.edu.pk/"
                        >Degree Issuance Portal</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="rti.php">RTI</a>
                </li>
              </ul>
            </div>
          </div>
          <div id="mobile-menu-wrapper" class="mmenu-wrapper">
            <div class="mmenu-icon">
              <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav2" aria-controls="nav2" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </nav
            </div>
          </div>
       
      </div>
</body>
</html> -->